<ion-header>

  <ion-navbar color="primary" style="height: 100px;">
    <ion-title>Chat App</ion-title>
    <div>&nbsp;</div>
    <div class="loginDiv">Login</div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>E-mail</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-row padding>
    <ion-col>
      <button ion-button (click)="login(user)" [disabled]="this.user.email == '' || this.user.password == ''">Login</button>
    </ion-col>
    <ion-col>
      <button ion-button color="light" (click)="goToRegister()">Register</button>
    </ion-col>
  </ion-row>
</ion-content>
