<ion-header>
  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>E-mail</ion-label>
    <ion-input type="text" [(ngModel)]="userRegistration.email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="userRegistration.password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password confirm</ion-label>
    <ion-input type="password" [(ngModel)]="this.passwordConfirm"></ion-input>
  </ion-item>

    <ion-item>
    <ion-label floating>First name</ion-label>
    <ion-input type="text" [(ngModel)]="userRegistration.firstName"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label floating>Last name</ion-label>
    <ion-input type="text" [(ngModel)]="userRegistration.lastName"></ion-input>
  </ion-item>
  
  <ion-row padding>
    <ion-col>
      <button
        ion-button
        (click)="register(userRegistration.password, this.passwordConfirm)"
        [disabled]="!userRegistration.email ||
                    !userRegistration.password ||
                    !userRegistration.firstName ||
                    !userRegistration.lastName ||
                    !this.passwordConfirm"
      >
        Register
      </button>
    </ion-col>
  </ion-row>
</ion-content>
