page-chat {

}
.chat-item {
    height: auto;
    margin-bottom: 3px;
}

// .label {
//    margin: 5px;
// }

// .item-inner {
//     height: auto !important;
//     padding: 0px!important;
// }

.chat-bubble {
    padding: 5px;
    height: auto !important;
    min-width: 55%;
    max-width: 100%;
    border-radius: 10px;
}

.sender {
    padding: 2px;
}

.left {
    float: left;
    text-align: left;
    background-color: lightblue;
}

.right {
    float: right;
    text-align: right;
    background-color: lightgreen;
}

.message {
    margin: 2px;
    font-size: 13px !important;
    color: black !important;
}

.timestamp {
    margin: 2px;
    font-size: 11px !important;
    color: black !important;
}

.clear {
    clear:both;
    line-height:0;
}