<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ this.friend.firstName + ' ' + this.friend.lastName }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list no-lines>
    <div class="chat-item" *ngFor="let msg of this.msgs">
        <div class="chat-bubble {{ msg.send === true ? 'right' : 'left' }}">
          <div class="sender">
              <div style="font-weight:bold;">{{ ( msg.send === true ? 'You' : this.friend.firstName + ' ' + this.friend.lastName ) }}</div>
          </div>
          <p class="message">{{msg.text}}</p>
          <hr>
          <p class="timestamp"> Vrijeme: {{ getMessageTime(msg) }} </p>
          <p class="timestamp"> Lokacija: {{ msg.location }} </p>
        </div>
        <br class="clear" />
    </div>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <form [formGroup]="messageForm" (submit)="sendMessage()" novalidate>
      <ion-item>
        <ion-textarea
          type="text"
          formControlName="text"
          placeholder="Type your message here..."
          required
          autosize
          style="height: 5px"
        >
        </ion-textarea>

        <button
          ion-button
          item-right
          block
          icon-only
          type="submit"
          style="width: 15%"
        >
          <ion-icon name="ios-send"></ion-icon>
        </button>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>
