<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button (click)="logout()" class="navButtonIcon">
        <ion-icon name="arrow-back"></ion-icon>
        &nbsp;&nbsp;Logout
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button (click)="addPage()" class="navButtonIcon">
        Add &nbsp;
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Chat App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item-sliding
     *ngFor="let friend of friends"
     >
     <ion-item
     (click)="openChat(friend)"
     >
     <ion-icon name="ios-arrow-forward"></ion-icon>
      <span>&nbsp;&nbsp;{{ friend.firstName + ' ' + friend.lastName }}</span>
      <p>Last message...</p>
     </ion-item>
        <ion-item-options side="left">
        <button ion-button color="danger" style="border-radius: 5px;" (click)="deleteFriend(friend)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>
