page-add-user {
}

#hiddenInput {
    width: 100%;
    // background-color: #488aff;
    background-color: red;
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 200;
}
