<ion-header>

  <ion-navbar color="primary">
    <ion-input type="text" id="hiddenInput"></ion-input>
    <ion-buttons right>
      <button ion-button icon-only (click)="searchNonFriends()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>New Chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
		<ion-item class="text" *ngFor="let nonFriend of nonFriends" (click)="addUser(nonFriend)">
      {{ nonFriend.firstName + ' ' + nonFriend.lastName }}
		</ion-item>
	</ion-list>
</ion-content>
